main#container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 200vw;
}

.pokemon {
    width: 95%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    border-radius: 20px;
}

.pokemon h1 {
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-size: 3rem;
}

.pokemon img {
    width: 40%;
    height: 50%;
    text-align: center;
    margin-bottom: 1rem;
}

#stats {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .5rem;
    margin-bottom: 1rem;
}

#stats ol {
    list-style: none;
    text-transform: uppercase;
}

#stats__name li {
    text-align: right;
}

#stats__value {
    margin: 0;
    padding: .5rem;
}

progress {
    -webkit-appearance: none;
    width: 30vw;
    max-width: 200px;
    height: .5rem;
}

::-webkit-progress-value {
    background-color: darkslategray;
}

::-webkit-progress-bar {
    background-color: lightcyan;
}

@media screen and (min-width: 350px) {
    #stats {
        font-size: 1rem;
    }

    progress {
        height: 1rem;
    }
}